<footer>
	<div class="page_wrap">
		<!-- <form method="POST" action="http://l5.dev" accept-charset="UTF-8"><input name="_token" type="hidden" value="rnktgnOIwG81GuG7qW5Hl6jP6JHOUrucNEty5BaR">
			<label for="email">Хочу получать письма о специальных пердлодениях</label>
			<input name="email" type="email" id="email">
			<input type="submit" value="Подписаться">
		</form> -->
		<form_subscribe></form_subscribe>
	</div>
	<div class="page_wrap hidden">
		<nav>
<!-- 			<a href="http://l5.dev/portfolio">Портфолио</a>
			<a href="http://l5.dev/services">Услуги</a>
			<a href="http://l5.dev/techs">Технологии</a>
			<a href="http://l5.dev/about">О нас</a> -->
		</nav>
	</div>
	<div class="copyright">
		<div class="page_wrap">
			<nav>
				<a *ngFor="let item of footerLinks" routerLink="{{item.link}}" routerLinkActive="active">{{item.title}}</a>
<!-- 				<a href="http://google.com/+WebkingStudioOfficial" target="_blank">
					<span>Мы в Google+:</span>
					<img src="compiled/img/icons/google-plus.svg" alt="location" class="svg_img svg">
				</a> -->
			</nav>
			<img class="logo svg" src="/compiled/img/logo-2.1-no-lion.svg" alt="Webking Studio Logo">
			<div class="rights">
				<span>Copyright © TakiDa.club 2020. </span><span>All rights reserved</span>
			</div>
		</div>
	</div>
</footer>
