<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>BINO</h1>
			<div class="container">
				<div class="row">
					<div class="project_descr">
 						<p class="main_task">Основная задача: верстка PSD to HTML</p>
 						<div class="col-xs-12 col-md-6">
  							<p>Что было сделано:</p>
  							<ul>
  								<li>Верстка дизайна</li>
  								<li>Кроссбраузерность</li>
  								<li>Адаптивность для самых распространенных десктоп экранов</li>
  							</ul>
  						</div>
  						<div class="col-xs-12 col-md-6">
 							<p>Список используемых технологий:</p>
 							<ul class="techs_list">
 								<li class="html">HTML5/CSS3</li>
 								<li class="bootstrap">Bootstrap</li>
 								<li class="jquery">jQuery</li>
 							</ul>
  						</div>
  					</div>
 					<div class="btn_wrap">
 						<a class="no_accent_button" href="examples/bino" routerLinkActive="active">Перейти на сайт</a>
 					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/bino/bino_page_middle.png">
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<!-- <div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="shop" style="clear: both;">Хочу такой!</a>
				</div> -->
			</div>
		</div>
	</div>
</section>