<section class="content contacts_page">
	<div class="subsection accent_style short_contacts_wrap">
		<div class="page_wrap">
			<h2>Как с нами связаться?</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-4 to_animate contact_item" data-animation="fadeInLeft">
						<a href="tel:+38 (066) 720-54-88">
							<span class="icon"><img src="compiled/img/icons/phone.svg" alt="phone" class="svg_img svg"></span>
							<p>+38 (066) 720-54-88</p>
						</a>
					</div>
					<div class="col-xs-4 col-md-4 to_animate contact_item" data-animation="fadeInUp">
						<a href="https://www.google.com/maps/place/проспект+Ювілейний,+54А,+Харків,+Харківська+область,+Україна" target="_blank">
							<span class="icon"><img src="compiled/img/icons/location.svg" alt="location" class="svg_img svg"></span>
							<p>просп. Юбилейный, 54а, Харьков, Украина</p>
						</a>
					</div>
					<div class="col-xs-4 col-md-4 to_animate contact_item" data-animation="fadeInRight">
						<a href="mailto:info@webking.studio">
							<span class="icon"><img src="compiled/img/icons/email.svg" alt="email" class="svg_img svg"></span>
							<p>info@webking.studio</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection contacts_wrap light_style">
		<div class="page_wrap row">
			<div class="col-xs-12 col-md-6 contact_us_wrap">
				<h2>Напишите нам</h2>
				<div class="page_item">
					<form class="row">
						<div class="col-md-12">
							<input type="text" class="subject" name="subject" placeholder="Тема">
						</div>
						<div class="col-md-8">
							<textarea cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						</div>
						<div class="col-md-4">
							<input type="text" class="username" name="username" placeholder="Ваше имя" class="name" required />
							<input type="email" class="emailaddress" name="emailaddress" placeholder="Email" class="email" required />
							<input type="tel" class="userphone" name="userphone" placeholder="Номер телефона">
							<input type="submit" name="submit" class="accent_button submit_btn" value="Отправить" />
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 grid_mod">
				<my-map></my-map>
			</div>
		</div>
	</div>
</section>