<section class="content home_page">
	<div class="banner_wrap">
		<owl-banner></owl-banner>
	</div>
	<div class="subsection projects_wrap light_style to_animate animation_group" data-animation="fadeInUp">
		<div class="page_wrap">
			<h2>Последние работы</h2>
			<div class="container">
				<div class="row items_wrap">
					<div class="col-xs-6 col-md-4 col-sm-4 series">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Bino</p>
								<p class="short_descr">Лендинг</p>
								<p class="short_descr">PSD to HTML</p>
								<a class="no_accent_button" routerLink="portfolio/bino" routerLinkActive="active">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/bino/bino_logo.png">
						</div>
					</div>
					<div class="col-xs-6 col-md-4 col-sm-4 series">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Pizzeria da persio</p>
								<p class="short_descr">Лендинг</p>
								<p class="short_descr">PSD to HTML</p>
								<a class="no_accent_button" routerLink="pizzeria_da_persio" routerLinkActive="active">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/pizzeria_da_persio/logo_pizzeria_da_persio.png">
						</div>
					</div>
					<div class="col-xs-6 col-md-4 col-sm-4 series">
						<div class="page_item">
							<div class="text_block">
								<p class="title">LiteLife</p>
								<p class="short_descr">Блог</p>
								<p class="short_descr">CMS: Wordpress</p>
								<a class="no_accent_button" routerLink="portfolio/litelife" routerLinkActive="active">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/litelife/logo.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-4 col-sm-4 series">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Служба снабжения XT</p>
								<p class="short_descr">Интернет-магазин</p>
								<p class="short_descr">CMS: Индивидуальная разработка</p>
								<a class="no_accent_button" routerLink="portfolio/xt" routerLinkActive="active">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/xt/logo.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-4 col-sm-4 series">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Barbator</p>
								<p class="short_descr">Интернет-магазин</p>
								<p class="short_descr">CMS: PrestaShop</p>
								<a class="no_accent_button" routerLink="portfolio/barbator" routerLinkActive="active">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/barbator/logo.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection services_wrap">
		<div class="page_wrap">
			<h2>Услуги</h2>
			<div class="container">
				<ul class="row akkordeon">
					<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInLeft">
						<div>
							<div class="service_icon"><img src="compiled/img/developing.svg" class="svg_img svg" alt="developing"></div>
							<p class="title">Создание сайтов</p>
							<!-- <p class="description">Сайты любого типа</p> -->
						</div>
					</li>
					<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
						<div>
							<div class="service_icon"><img src="compiled/img/web_design_icon.svg" class="svg_img svg" alt="web design"></div>
							<p class="title">Веб-дизайн</p>
							<!-- <p class="description">Намалюем, смантируем, разукрасим! Кароч, сделаем Ваш бренд легко узнаваемым</p> -->
						</div>
					</li>
					<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInUp">
						<div>
							<div class="service_icon"><img src="compiled/img/psd2html.svg" class="svg_img svg" alt="psd2html"></div>
							<p class="title">Верстка Вашего дизайна</p>
							<!-- <p class="description">Высокая производительность сайта - хотели бы Вам предложить, НО не можем</p> -->
						</div>
					</li>
					<li class="page_item col-xs-3 col-md-3 to_animate" data-animation="fadeInRight">
						<div>
							<div class="service_icon"><img src="compiled/img/support.svg" class="svg_img svg" alt="support"></div>
							<p class="title">Техническая поддержка</p>
							<!-- <p class="description">Высокая производительность сайта - хотели бы Вам предложить, НО не можем</p> -->
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="subsection technologies_wrap light_style" id="techs">
		<div class="page_wrap wide">
			<h2>Технологии, которые мы используем</h2>
			<owl-techs></owl-techs>
		</div>
	</div>
	<div class="subsection about_studio_wrap" id="about">
		<div class="page_wrap">
			<h2>Наша команда</h2>
			<p>Мы не скрываем своих лиц, потому что уверены в результате!</p>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInLeft">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/ceo.jpg" class="svg" alt="avatar"></div>
							<p class="title">Александр</p>
							<p class="prof">&lt;<span>ceo</span> class="<span>founder</span>"&gt;</p>
							<p class="social">
								<a href="https://plus.google.com/+%D0%9E%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%9F%D0%B0%D1%80%D1%85%D0%BE%D0%BC%D0%B5%D0%BD%D0%BA%D0%BE"><img src="compiled/img/icons/google-plus.svg" alt="location" class="svg_img svg"></a>
								<a href="https://www.facebook.com/Arikito.91"><img src="compiled/img/icons/facebook.svg" alt="location" class="svg_img svg"></a>
							</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInUp">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd1.jpg" class="svg" alt="avatar"></div>
							<p class="title">Надежда</p>
							<p class="prof">&lt;<span>developer</span> class="<span>front-end</span>"/&gt;</p>
							<p class="social">
								<a href="https://plus.google.com/u/0/116588378440276451564"><img src="compiled/img/icons/google-plus.svg" alt="location" class="svg_img svg"></a>
								<a href="https://www.facebook.com/IIIIIARTEMIDAIIIII"><img src="compiled/img/icons/facebook.svg" alt="location" class="svg_img svg"></a>
							</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-4 to_animate" data-animation="fadeInRight">
						<div class="page_item">
							<div class="img_wrap"><img src="/compiled/img/fd2.jpg" class="svg" alt="avatar"></div>
							<p class="title">Александр</p>
							<p class="prof">&lt;<span>developer</span> class="<span>front-end</span>"/&gt;</p>
							<p class="social">
								<a href="https://plus.google.com/+%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%A0%D1%8F%D0%B1%D1%83%D1%85%D0%B0"><img src="compiled/img/icons/google-plus.svg" alt="location" class="svg_img svg"></a>
								<a href="https://www.facebook.com/aleksandr.riabukha"><img src="compiled/img/icons/facebook.svg" alt="location" class="svg_img svg"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<my-contacts></my-contacts>