<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>WordPress шаблон для блога.</h1>
			<div class="container">
				<div class="row">
					<div class="project_descr">
 						<p class="main_task">Основная задача: Разработать шаблон для персонального блога на WordPress.</p>
 						<div class="col-xs-12 col-md-6">
  							<p>Что было с делано:</p>
  							<ul>
  								<li>Разработана концепция дизайна и фирменный стиль</li>
  								<li>Верстка дизайна ее последующая реализация на WordPress</li>
  								<li>Кроссбраузерность</li>
  								<li>Адаптивность</li>
  							</ul>
  						</div>
 						<div class="col-xs-12 col-md-6">
 							<p>Список используемых технологий:</p>
 							<ul class="techs_list">
 								<li class="wp">WordPress</li>
 								<li class="jquery">jQuery</li>
 								<li class="sass">SASS</li>
 							</ul>
 						</div>
 					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/litelife/litelife-browser.png">
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="project_element">
				<img class="laptop" src="/compiled/img/projects/litelife/litelife-laptop.png">
				<img class="tablet" src="/compiled/img/projects/litelife/litelife-iPad.png">
				<img class="mobile" src="/compiled/img/projects/litelife/litelife-mob.png">
			</div>
		</div>
	</div>
	<!-- <div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="blog" style="clear: both;">Хочу такой!</a>
				</div>
			</div>
		</div>
	</div> -->
</section>