<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>WordPress шаблон для блога.</h1>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 project_descr">
						<!-- <p>Дата запуска: 06.04.2016</p> -->
						<div>
							<p>Основная задача: Разработать шаблон для WordPress.</p>
							<p>Что было с делано:</p>
							<ul>
								<li>Разработана концепция дизайна</li>
								<li>Сверстали тему.</li>
								<li>Внедрили пару индивидуальных функций.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/wp/wp-browser.png">
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="project_element">
				<img class="laptop" src="/compiled/img/projects/wp/wp-laptop.png">
				<img class="tablet" src="/compiled/img/projects/wp/wp-iPad.png">
				<img class="mobile" src="/compiled/img/projects/wp/wp-mob.png">
			</div>
		</div>
	</div>
	<!-- <div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="blog" style="clear: both;">Хочу такой!</a>
				</div>
			</div>
		</div>
	</div> -->
</section>