<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>PIZZERIA DA PERSIO</h1>
			<div class="container">
				<div class="row">
					<div class="project_descr">
 						<p class="main_task">Основная задача: верстка PSD to HTML</p>
 						<div class="col-xs-12 col-md-6">
  							<p>Что было сделано:</p>
  							<ul>
  								<li>Верстка дизайна</li>
  								<li>Кроссбраузерность</li>
  								<li>Адаптация сайта под разные виды мобильных устройств‎</li>
  							</ul>
  						</div>
  						<div class="col-xs-12 col-md-6">
 							<p>Список используемых технологий:</p>
 							<ul class="techs_list">
 								<li class="html">HTML5/CSS3</li>
 								<li class="bootstrap">Bootstrap</li>
 								<li class="jquery">jQuery</li>
 							</ul>
  						</div>
  					</div>
 					<div class="btn_wrap">
 						<!-- <a class="no_accent_button" routerLink="/redirect" fragment="barbator.com" routerLinkActive="active">Перейти на сайт</a> -->
 						<a class="no_accent_button" href="examples/pizzeria_da_persio" routerLinkActive="active">Перейти на сайт</a>
 					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/pizzeria_da_persio/full_page_pizzeria_da_persio.png">
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="project_element">
				<img class="laptop" src="/compiled/img/projects/pizzeria_da_persio/laptop_pizzeria_da_persio.png">
				<img class="tablet" src="/compiled/img/projects/pizzeria_da_persio/ipad_pizzeria_da_persio.png">
				<img class="mobile" src="/compiled/img/projects/pizzeria_da_persio/mobile_pizzeria_da_persio.png">
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<!-- <div class="row">
					<div class="project_element">
						<h2>Быстрый предпросмотр товара</h2>
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/preview.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<p>Окно быстрого просмотра позволяет получить всю основную информацию о товаре не переходя на его полную страницу. Так же в окне быстрого просмотра доступны все необходимые функции для проведения таких манипуляций с товаром как, добаление в корзину, добавление в список избранного и в список отслеживание изменения цены товара.</p>
						</div>
					</div>
					<div class="project_element">
						<h2>Корзина с товарами</h2>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<p>Стандартная корзина интернет-магазина. Оснащена дополнитльным блоком авторизации пользователя.</p>
						</div>
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/cart.png">
						</div>
					</div>
					<div class="project_element">
						<h2>Быстрый просмотр корзины</h2>
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/quik_cart.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<p>Позволяет просмотреть список добавленных в корзину товаров не переходя на саму страницу корзины.</p>
						</div>
					</div>
				</div> -->
				<!-- <div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="shop" style="clear: both;">Хочу такой!</a>
				</div> -->
			</div>
		</div>
	</div>
</section>