<section class="content about_page">
	<div class="subsection">
		<div class="page_wrap">
			<h2>Кто мы и зачем</h2>
			<div class="col-xs-12 col-md-12 col-sm-12 main_description">
				<p>Мы - это лучшее, что может, в принципе, случится в твоей жизни. Если хочешь сайт, но ссышь заказать у фрилансера на ворпрессе, то пиши нам. У нас ты еще и абделаешься! От радости абщения, канечна, и от полученого результата. Тошо лёва мейк ю лова лова, пляж!</p>
				<p>Тут бует текст описания наших ценностей, предпочтений в еде, взлядов на жызь и что мы ценим в клиентах. Пока не знаю надо ли это но у всех сайтов таке есть. Может для нас и глупость, но люди тупы и могут вестись.</p>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<h2>Наша банда</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 col-md-4 col-sm-12">
						<div class="developer_block">
							<img src="/compiled/img/ceo.jpg" class="svg" alt="avatar">
							<p class="title">CEO</p>
							<p class="description">Директор, прожектор-манагер, тим-лид, ведущий девелопер, маг 80-го левела, последняя надежда Содружества и просто красавчег.</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-12">
						<div class="developer_block">
							<img src="/compiled/img/fd1.jpg" class="svg" alt="avatar">
							<p class="title">Фронтенд девелопер адын</p>
							<p class="description">Делаем все флексом! Блоки, картинки, праграфы, видео... Весь МИР сделаем флексом!!! Муаха-ха!</p>
						</div>
					</div>
					<div class="col-xs-4 col-md-4 col-sm-12">
						<div class="developer_block">
							<img src="/compiled/img/fd2.jpg" class="svg" alt="avatar">
							<p class="title">Фронтенд девелопер дыва</p>
							<p class="description">Мастер конь-фууу, магического скролла и лишних табулясий в коде</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>