<section class="content techs_page">
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Технологии</h1>
					<!-- <div class="tech col-md-3 col-sm-12">
						<div class="tech_image html_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/html.svg">
						</div>
						<p class="tech_title html_title">HTML5</p>
						<p class="tech_description">HTML5 - альфа и амега. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div> -->
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/html.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     HTML5 - альфа и амега. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/css.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     CSS3 - Chevrolet Chevelle SS. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/php.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     PHP - просто слон.  Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/js.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     JavaScript - вездусущ и вездеорущ. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>

					<!-- <div class="tech col-md-3 col-sm-12">
						<div class="tech_image css_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/css.svg">
						</div>
						<p class="tech_title css_title">CSS3</p>
						<p class="tech_description">CSS3 - Chevrolet Chevelle SS. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div>
					<div class="tech col-md-3 col-sm-12">
						<div class="tech_image php_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/php.svg">
						</div>
						<p class="tech_title php_title">PHP</p>
						<p class="tech_description">PHP - просто слон. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div>
					<div class="tech col-md-3 col-sm-12">
						<div class="tech_image html_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/html.svg">
						</div>
						<p class="tech_title html_title">JavaScript</p>
						<p class="tech_description">JavaScript - вездусущ и вездеорущ. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<h1>Фреймворки и CMS</h1>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/jquery.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     jQuery - не дружит с ангуляром. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/angular.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     Angular - шоб ему пусто было. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/wp.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     WordPress - пхни куда хош. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>
					<div class="tech col-md-3 col-sm-12 flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="tech_image html_logo col-md-3 col-sm-12 front">
								<!-- front content -->
								<img class="svg_img svg" src="/compiled/img/opencart.svg">
							</div>
							<div class="tech_description back">
								<!-- back content -->
							     OpenCart - это для магазина. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
								Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.
							</div>
						</div>
					</div>

					<!-- <div class="tech col-md-3 col-sm-12">
						<div class="tech_image jquery_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/jquery.svg">
						</div>
						<p class="tech_title jquery_title">jQuery</p>
						<p class="tech_description">jQuery - не дружит с ангуляром. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div>
					<div class="tech col-md-3 col-sm-12">
						<div class="tech_image angular_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/angular.svg">
						</div>
						<p class="tech_title angular_title">Angular</p>
						<p class="tech_description">Angular - шоб ему пусто было. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div>
					<div class="tech col-md-3 col-sm-12">
						<div class="tech_image wp_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/wp.svg">
						</div>
						<p class="tech_title wp_title">WordPress</p>
						<p class="tech_description">WordPress - пхни куда хош. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div>
					<div class="tech col-md-3 col-sm-12">
						<div class="tech_image opencart_logo col-md-3 col-sm-12">
							<img class="svg_img svg" src="/compiled/img/opencart.svg">
						</div>
						<p class="tech_title opencart_title">OpenCart</p>
						<p class="tech_description">OpenCart - это для магазина. Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности.</p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>