<div id="owl-banner" class="owl-carousel owl-theme owl_banner">
	<div class="banner_item">
		<div class="banner_text">
			<h2>Формирование технического задания</h2>
			<p>Определяем и анализируем цели поставленные перед Вашим сайтом, его целевую аудиторию и возможных конкурентов. Описываем весь функционал и методы его реализации.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Разработка дизайна</h2>
			<p>Формируем общую концепцию дизайна, адаптируем его под Ваш фирменный стиль и создаём предварительные макеты страниц.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Верстка и программиирование</h2>
			<p>С помощью передовых актуальных методов веб-разработки реализуем подготовленные дизайн макеты и функционал описанный в ТЗ.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Тестирование и запуск сайта</h2>
			<p>Тщательно проверяем все элементы и функции сайта, его взаимоотношения с различными браузерами и платформами (экран ноутбука, планшета, мобильного телефона). После чего регистрируем домен, размещаем сайт на хостинге и выводим его на просторы интернета.</p>
			<a routerLink="/contacts" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
</div>
